@import url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css);

/* language button */

.flags{
    cursor: pointer;
    position: fixed;
    right: 90px;
    top: 25px;
    z-index: 99;
    font-size:1.5em;
    line-height:1;
    margin:0;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically center */
    justify-content: center; /* Align items horizontally center */
    
  }
  .flags a {
    margin: 0 4px; /* Add some space between flags */
  }
  .flag{
    box-sizing:content-box;
    display:inline-block;
    position:relative;
    width:1em;
    height:1em;
    margin:0;
    background:#fff;
    border-radius:50%;
    border:solid #eee;
    overflow:hidden;
    box-shadow:0;
    opacity:.5;
    transition: 1s;
  }
  
  /* Additional styles for flags if needed */
  
  .flag:hover, .flag.active{
    border-radius:50%;
    box-shadow:0 0 .2em #666;
    opacity:1;
    transform:rotate(-360deg);
  }